.App {
  text-align: center;
}

.innerSpinner {
  height: 650px;
  width: 650px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #333;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  color: white;
}

.sidebar {
  margin-left: 0;
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}
menu {
  display: flex;
  padding: 0;
  margin-top: 0;
  height: 5vh;
  justify-content: space-evenly;
  align-items: flex-end;
}

menu > p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 0.8em;
}
menu > li {
  list-style-type: none;
  width: 50%;
  height: 100%;
}

menu > li > button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: gray;
  color: white;
  font-weight: bold;
}
menu > li > button:disabled {
  background-color: black;
}

.menuButtons {
  position: absolute;
  top: 85vh;
  display: flex;
  width: 29.5vw;

  justify-content: space-evenly;
}
.menuButton {
  background-color: transparent;

  color: rgb(58, 157, 190);
  border: 2px solid rgb(58, 157, 190);
  padding: 5px 10px;
  border-radius: 3px;
}

.flipCard {
  background-color: black;
  height: 100%;
  width: 100%;
  font-size: calc(3px + 1vw);
  transform-style: preserve-3d;
}

.flipButtonContainer {
  position: absolute;
  bottom: 0;
  left: 25.5vw;
}

#back {
  transform: translateX(-50%) rotateY(180deg);
}

.flipCard[flip="1"] {
  animation: 1s flipMenu ease-in-out;
  animation-fill-mode: forwards;
}

.flipCard[flip="2"] {
  animation: 1s flipBack ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes flipMenu {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.fieldEditor {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  backface-visibility: hidden;
}

form {
  height: 75vh;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 7vh;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  align-items: center;
  z-index: 10;
  border: 2px solid gray;
  border-radius: 3px;
}
.wedgeField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.15em;
}

.resultBoxContainer {
  border: 2px solid gray;
  border-radius: 3px;
  font-size: 1em;
  width: 90%;
  height: 75vh;
  margin: auto;
  margin-top: 2vh;
  text-align: left;
  overflow: scroll;
}
.resultBox {
  width: 100%;
  margin: 0;
  background: repeating-linear-gradient(
    to bottom,
    #222 0 1.53em,
    #333 1.53em 3.06em
  );
}

.resultBox > ol {
  margin: 0;
}

.resultBox > ol > li {
  padding: 0.17em;
  padding-left: 0.5em;
  overflow-wrap: break-word;
}

.probLabel {
  display: flex;
  align-items: center;
  width: 13em;
  font-weight: bold;
  font-size: 0.9em;
  text-align: left;
  line-height: 1em;
}

.probLabel > p {
  margin: 0px;
}

.probabilityField {
  margin: 0px;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.probabilityField > p {
  margin: 0;
}
label > p {
  margin: 0;
}

.probabilityField > label {
  align-items: center;
  display: flex;
  flex-flow: row;
}

input {
  font-size: 1em;
  height: 1.4em;
  border: none;
  margin: 0.1em;
  border-radius: 0.1em;
}

input[type="text"] {
  padding-left: 0.4em;
}

input[type="color"] {
  height: 1.5em;
  width: 2.5em;
}

input[type="number"] {
  text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.iconButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.secret {
  position: relative;
  color: #333;
  background-color: rgb(7, 7, 7);
  border: none;
  top: 92%;
  width: 100%;
  height: 8%;
}

#clickHere {
  border: 1px solid red;
}
#deleteWedge {
  color: white;
}

#deleteWedge:hover {
  color: gray;
}

#unlocked {
  color: rgb(75, 75, 75);
  transition: transform 0.2s;
}

#unlocked:hover {
  transform: scale(1.2);
}

.spinButton {
  margin: auto;
  width: 100px;
  height: 40px;
  background-color: rgb(58, 157, 190);
  border: none;
  font-weight: bold;
  color: #282c34;
  z-index: 1;
}

.spinButton:disabled {
  background-color: rgb(33, 93, 113);
}

.spinnerContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 69vw;
  padding: 2vh;
  overflow: hidden;
}
.pointer {
  width: 10px;
  height: 20px;
  background-color: white;
}
.spinner {
  height: 650px;
  width: 650px;
  display: inline-block;
  border-radius: 50%;
  background-color: #333;
}

.wedges {
  display: inline-block;
  transform: rotate(90deg);
  height: 650px;
  width: 650px;
}

.wedgeText {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
}

.bubble {
  position: absolute;
  top: 81vh;
  left: 24vw;
  padding: 0.75em 1em;
  width: 18em;

  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: left;
  z-index: 10;
}

.bubbleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}

.bubbleHeader > h3 {
  margin-left: 1em;
}

@keyframes point {
  from {
    transform: translateX(2%);
  }
  to {
    transform: translateX(-5%);
  }
}
#animatedArrow {
  animation: point 0.5s ease-in infinite alternate;
}
