.App {
  text-align: center;
  font-family: Poppins;
}

.innerSpinner {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #333;
}

.App-header {
  background-image: linear-gradient(to bottom right, darkblue, indigo);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  color: white;
}

.header {
  display: flex;
  padding: 1% 3.5%;
  position: fixed;
  justify-content: space-between;
  width: 95.5vw;
  height: 3em;
  background-color: rgba(0, 0, 50, 0.5);
}

.shiftBox {
  position: absolute;
  display: flex;
  align-items: center;
  height: 3em;
  width: 14%;
  margin: 0.2% 3.5%;

  overflow: hidden;
}
.shiftBox > h1 {
  position: absolute;
  font-family: "Fugaz One";
  font-size: 2.5em;
}

.header button {
  position: relative;
  top: -0.5vh;
}

h1 > span {
  display: inline-block;
}

.header[shift="1"] .shiftDown {
  transition: transform 0.5s ease-out;
  transform: translateY(1.3em);
}
.header[shift="0"] .shiftDown {
  transition: transform 0.3s linear;
}

.header[shift="1"] .shiftLeft {
  transform: translateX(-0.66em);
  transition: transform 0.4s ease-out 0.2s, color 0.4s ease-out 0.2s;
  color: plum;
}

.header[shift="0"] .shiftLeft {
  transition: transform 0.3s linear;
}

#top {
  top: -2.1em;
  color: plum;
}

.dialogBox {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 0.5em;
  font-size: 10pt;
  left: 85.5%;
  bottom: 1.9em;
  border-radius: 2px;
  visibility: hidden;
}

#showTutorial:hover + div {
  visibility: visible;
  transition: visibility 0s linear 1s;
}

.dialogBox:after {
  position: absolute;
  content: " ";
  right: -0.5em;
  top: 0.7em;
  border-top: 0.5em solid transparent;
  border-right: none;
  border-left: 0.5em solid rgba(255, 255, 255, 0.9);
  border-bottom: 0.5em solid transparent;
}

.sidebar {
  position: relative;
  top: 12%;
  margin-left: 3vw;
  width: 35vw;
  height: 86vh;
  display: flex;
  flex-flow: column;
}

menu {
  display: flex;
  padding: 0;
  margin-top: 0;
  height: 5vh;
  justify-content: space-evenly;
  align-items: flex-end;
}

menu > p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 0.8em;
}
menu > li {
  list-style-type: none;
  width: 50%;
  height: 100%;
}

menu > li > button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: bold;
}

menu > li:nth-child(1) > button {
  border-top-left-radius: 10px;
}

menu > li:nth-child(2) > button {
  border-top-right-radius: 10px;
}

menu > li > button:disabled {
  background-color: transparent;
}

#probabilityHeader {
  position: relative;
  margin-right: 0;
  width: 55%;
  left: 41%;
}

#probabilityHeader > p {
  text-align: right;
}
.menuButtons {
  position: absolute;
  top: 103%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.menuButton {
  background-color: transparent;
  color: plum;
  border: 2px solid plum;
  font-size: 11pt;
  padding: 0.5em 1em;
  border-radius: 3px;
}

.flipCard {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: relative;
  font-size: calc(3px + 1vw);
  transform-style: preserve-3d;
  border-radius: 10px;
  transition: transform 1s;
}

.flipButtonContainer {
  position: absolute;
  bottom: 0;
  left: 25.5vw;
}

#back {
  transform: translateX(-50%) rotateY(180deg);
}

.flipCard[flip="1"] {
  transform: rotateY(180deg);
}

.flipCard[flip="2"] {
  transform: rotateY(0deg);
}

.flipCard[flip="1"] > button {
  background-color: black;
  color: white;
  opacity: 100;
  backface-visibility: hidden;
}

@keyframes flipMenu {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.fieldEditor {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  backface-visibility: hidden;
}

.wedgeField {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 0.15em;
}

form.resultBoxContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 3%;
}
.resultBoxContainer {
  height: 63vh;
  width: 90%;
  margin: auto;
  overflow: scroll;
  text-align: left;
  align-content: left;
  z-index: 10;
  border: 2px solid gray;
  border-radius: 3px;
}

ul {
  padding-left: 0;
  margin: 0;
}

ul > li {
  padding: 0.3em;
  padding-left: 0.6em;
  overflow-wrap: break-word;
}

ul > li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.6);
}

ul > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.probLabel {
  display: flex;
  align-items: center;
  width: 13em;
  font-weight: bold;
  font-size: 0.9em;
  text-align: left;
  line-height: 1em;
}

.probLabel > p {
  margin: 0px;
}

.probabilityField {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.probabilityField > p {
  margin: 0;
  width: 4.7em;
  text-align: right;
}
label > p {
  margin: 0;
}

.probabilityField > label {
  align-items: center;
  display: flex;
  flex-flow: row;
}

input {
  font-size: 1em;
  height: 1.4em;
  border: none;
  margin: 0.1em;
  border-radius: 0.1em;
  color: white;
}

.wedgeField > input[type="text"] {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  width: 80%;
  border-radius: 1em;
}
input[type="text"] {
  padding-left: 0.8em;
}

input[type="color"] {
  width: 110%;
  height: 110%;
  position: absolute;
  left: -10%;
  top: -10%;
  opacity: 0;
}

input[type="number"] {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 0.5em;
  text-align: right;
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
} */

.iconButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.secret {
  position: relative;
  background-color: transparent;
  color: rgba(0, 0, 0, 0);
  border: none;
  top: 95%;
  width: 100%;
  height: 5%;
  transform: rotateY(180deg);
  transition: color 0.75s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#clickHere {
  border: 1px solid red;
}
#deleteWedge {
  color: white;
}

#deleteWedge:hover {
  color: gray;
}

#unlocked {
  color: rgb(75, 75, 75);
  transition: transform 0.2s;
}

#unlocked:hover {
  transform: scale(1.2);
}

.spinButton {
  margin: auto;
  background-color: #444;
  width: 100px;
  height: 110px;
  border: none;
  font-weight: bold;
  clip-path: path(
    "M 5, 65 A 20, 20 0, 0, 0 95, 65 Q 95,30 50, 10 Q 5,30 5,65 z"
  );
}

.spinButton > p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.spinButton:disabled > p {
  color: #666;
  border-color: #666;
}

.buttonWrapper {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 4px 8px 0.4em);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
}

.spinnerSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 65vw;
  padding: 2vh;
  overflow: hidden;
}

.spinnerContainer {
  height: 650px;
  width: 650px;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: 55.5%;
  left: -3%;
  transform: translateY(-50%);
  background-color: #333;
}

.pointer {
  width: 10px;
  height: 20px;
  background-color: white;
}
.spinner {
  position: absolute;
  height: 600px;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner[spinning="1"] {
  transition: transform 5s ease-out;
}

.shadow {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  position: absolute;
  background-color: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 30px 30px 10px);
}

.wedges {
  display: inline-block;
  transform: rotate(90deg);
  height: 600px;
  width: 600px;
}

.wedgeText {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
}

.bubble {
  position: absolute;
  top: 78vh;
  left: 35vw;
  padding: 0.75em 1em;
  width: 18em;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: left;
  z-index: 10;
}

.bubbleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}

.bubbleHeader > h3 {
  margin-left: 1em;
}

@keyframes point {
  from {
    transform: translateX(2%);
  }
  to {
    transform: translateX(-5%);
  }
}
#animatedArrow {
  animation: point 0.5s ease-in infinite alternate;
}

.modal {
  position: absolute;
  background-color: white;
  color: black;
  top: 50%;
  left: 50%;
  width: 45%;
  padding: 2% 2% 4% 2%;
  transform: translate(-50%, -50%) scale(0%);
  border-radius: 5px;
  z-index: 20;
  text-align: center;
}

.modal[check="1"] {
  transform: translate(-50%, -50%) scale(100%);
  transition: transform 0.5s ease-out;
}

.modal > h1 {
  font-size: 4em;
  line-height: 1em;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
}

.modal > p {
  margin-top: 0;
}

.modal > button {
  position: absolute;
  left: 100%;
  transform: translateX(-200%);
}

img {
  width: 125px;
  height: 125px;
}

.confetti {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.modal[check="0"] + .confetti {
  display: none;
}
